html {
  overflow-y: scroll;
  width: 100%;
}

body {
  margin: 0 auto!important;
  width: 100%;
  max-width: 1280px;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.navbar-title {
  user-select: none;
  cursor: pointer;
}

.navbar-menu{
  z-index: 2;
}

.recipe-page-tab-panel {

}

.menu-narrow {
  margin: auto;
  line-height: 1rem;
}


.banner-container {
  position:relative;
  height: 80vh;
}

.banner {
  background-image: url("assets/images/white-flower-with-cooking-ingredients-table.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.banner-text-container {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
}

.banner-text-container div {
  margin: auto;
}

.container {
  display: flex;
  height: 80vh;
  background-color:#ebc6a844;
}

.container-inner {
  margin: auto
}

/* Profile details */
.profile-page-container {
  display: flex;
  margin-bottom: 64px;
}

.profile-container {
  max-width: 256px;
  flex: 1;
  color: #c6783c;
}
.profile-container-inner {
  width: 90%;
  margin: 30px auto 0;
}
.profile-img {
  width: 20vw;
  height: 20vw;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: -70px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  position:relative;
  z-index: 2;
  cursor: pointer
}

.profile-img-hover:after {
  content: "Change Image";
  opacity: 0;
  transition:0.2s;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50%;
  transform: translateY(-50%);
  color: white;
  text-shadow: 1px 1px 1px black
}
.profile-img-hover:before {
  content: "";
  opacity: 0;
  transition:0.2s;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(170, 170, 170, 0.596);
}
.profile-img-hover:hover:after, .profile-img-hover:hover:before {
  opacity: 1;
}

.profile-img img{
  width: 100%;
}

.profile-details {
  padding: 85px 20px 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
}

.profile-name {
  font-size: 2.3rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile-name>svg{
  cursor:pointer;
  margin-left:0.5rem;
}

.profile-id {
  margin-top:1rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-following-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer

}
.profile-following-container>div:not(:first-child) {
  border-left: 1px solid #c6783c;
}

.profile-following-container>div {
  padding: 8px;
  margin: 0.1rem 0.1rem;

}

.profile-following-container span{
  display:block
}

.profile-button-container {
  margin-top: 1.5rem
}
.profile-button {
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: white;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  border-radius: 4px;
  margin: 0.1rem 0;
  user-select: none;
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
  color: black;
  text-decoration: none;

  min-width: 50px;
}
/* Recipe */
.recipe-container-outer {
  flex: 1;
  margin-top: 24px;
  padding-left: 24px;
}

.recipe-container {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), box-shadow .4s cubic-bezier(.25, .8, .25, 1);
  user-select: none;
  text-decoration: none;
  position: relative;
}

.recipe-container:hover {
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
}

.recipe-img {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.25);
  margin-right: 5px;
  user-select: none;
  cursor: pointer;
  width: 20vw;
  max-width: 150px;
  max-height: 150px;
  position:relative;
  overflow: hidden;
}

.recipe-img>img{
  width: 100%
}

.recipe-img-hover:after {
  content: "Change Image";
  opacity: 0;
  transition:0.2s;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50%;
  transform: translateY(-50%);
  color: white;
  text-shadow: 1px 1px 1px black
}
.recipe-img-hover:before {
  content: "";
  opacity: 0;
  transition:0.2s;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(170, 170, 170, 0.596);
}
.recipe-img:hover:after, .recipe-img:hover:before {
  opacity: 1;
}
.recipe-details-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-left: 20px;
  flex: 1 0;
}

.recipe-details-top-container {
  display: flex;
  flex-flow: row nowrap;
}

.recipe-details-top-left-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  min-width: 0;
}

.recipe-name {
  font-size: 1.6rem;
  line-height: 2.5rem;
  flex-shrink: 0;
  font-weight: 500;
  color: black;
  text-decoration: none;
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  text-align:left;
  user-select: none;
  cursor: pointer;
}

.recipe-baker-row {
  font-size: 1.25rem;
  margin: 0.2rem 0;
  flex-shrink: 0;
  font-weight: 400;
  color: #505050;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
  user-select: none;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.recipe-baker-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 4px;
  border: 1px solid white;
  padding: 8px;
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.recipe-baker-button:hover {
  background-color: #fafafa;
  outline: none;
}

.recipe-baker-button .recipe-baker-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.recipe-baker-button .recipe-baker-userId {
  font-size: 0.8rem;
  color: #808080;
  margin-left: 8px;
}

.recipe-following-container {
  display: flex;
  flex-flow: row nowrap;
}

.recipe-following-button {
  width: 120px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 4px;
  margin: 0.1rem 0.1rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
}

.recipe-comment-container {
  position: relative;
  min-width: 0;
  margin-top: 0.5rem;
}

.recipe-comment-container .recipe-comment {
  font-size: 0.8rem;
  text-align: left;
  min-width: 0;
}

.recipe-comment-container .recipe-comment .recipe-comment-profile {
  font-weight: bold;
  margin-right: 8px;
}


.recipe-details-top-right-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1;
}

.recipe-details-top-right-container .recipe-info-block {
  padding: 8px;
  margin: 0 4px;
  min-width: 48px;
  max-width: 72px;
}

.recipe-details-top-right-container .recipe-info-block:hover {
  background-color: #fafafa;
}

.recipe-details-top-right-container .recipe-info-block .recipe-info-image {
  width: 48px;
  height: 48px;
}

.recipe-details-top-right-container .recipe-info-block .recipe-info-text {
  font-size: 0.8rem;
}

.recipe-button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.recipe-button-icon-container{
  display:flex;
  flex-flow: row;
  justify-content: space-around;
}

.recipe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fafafa;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  margin: 0.1rem 0;
  user-select: none;
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
  color: black;
  text-decoration: none;
  cursor: pointer;
  min-width: 50px;
  outline: none;
}

.like-true {
  color: red;
  font-size: 1rem !important;
  margin-right: 0.5rem
}
.like-false {
  font-size: 1rem !important;
  margin-right: 0.5rem

}

.recipe-button:hover {
  background-color: #fafafa;
  outline: none;
}


.recipe-button-icon {
  padding: 5px 2px !important;
  min-width: 40px
}

.recipe-header-container {
  display: flex;
  width: 70vw;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  margin: auto;
  user-select: none;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid #aaa;
}

.tab-container .MuiTabs-root .MuiTabs-centered{
  justify-content: left !important;
}

.tab-container {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tab-panel-container .MuiBox-root {
  padding: 0px;
}


.add-new-recipe-button{
  text-align: left
}

/* slides */
.swiper-slide {
  display: flex;
  flex-direction: column;
  height: 450px !important
}
.swiper-slide>div {
  margin:auto
}
.swiper-slide .step-no {
  font-size: 0.8rem
}
.swiper-slide .step-text {
  font-size:1.5rem;
  padding-left: 3rem;
  padding-right: 3rem
}
.swiper-pagination-bullet {
  width:20px !important;
  height:20px !important;
  color:white !important
}

.swiper-pagination-bullet-active{
  background-color: #c6783c !important
}
.swiper-button-prev, .swiper-button-next {
  color: #c6783c !important
}

/* comments */
.comment-container-outer{
  /*padding: 0 5%*/
}
.comment-textfield {
  display:flex;
  align-items:baseline;
  padding: 0 16px
}

/* Img Upload Dialog */
.img-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.img-preview-container>button {
  margin-bottom: 1rem
}
.img-preview {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 1rem 0
}
/* CTE */
.makeStyles-rTable-26 span{
  text-align: left !important;
  margin-left: 5px
}

.wrapper {
  display: inline!important;
  position: relative;
}
.wrapper.wrapper-remark {
  max-width: 100px;
}

.wrapper.wrapper-qty {
  max-width: 100px;
}

.wrapper .MuiInput-root {
  font-size: 0.875rem;
}



.inline {
  border-bottom: 2px solid transparent;
  outline: none;
  width: 100%;
}

.inline.MuiInput-underline:after, .inline.MuiInput-underline:hover:not(.Mui-disabled):before, .inline.MuiInput-underline:before {
  border-bottom: 2px solid transparent;
}

.inline .MuiInput-underline:after, .inline .MuiInput-underline:hover:not(.Mui-disabled):before, .inline .MuiInput-underline:before {
  border-bottom: 2px solid transparent;
}

.inline .MuiInputBase-input {
  padding-bottom: 6px;
}

.inline .MuiInput-underline input {
  text-align: inherit;
}

.ingredient-dialog {
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.ingredient-dialog .MuiDialog-paperScrollPaper {
  height: 100%;
  max-height: 750px;
}

.ingredient-dialog-table {
  overflow: scroll;
  flex: 1;
  position: relative;
}

.ingredient-dialog-table-blank {
  display: flex;
  flex: 1;
  min-height: calc(48px*2);
}

.floating-button {
  position: absolute;
  bottom: 48px;
  right: 40px;
  cursor: pointer;
  height: 3rem !important;
  width: 3rem !important;
  color: #c6783c;
}

.ingredient-dialog-cell {
  height: 0;
  max-height: 48px;
  line-height: 48px;
  min-height: 0;
  padding: 4px 4px!important;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.recipe-list {
  padding-top: 0 !important;
  padding-bottom: 0!important;
}

.recipe-list .list-blank {
  flex: 1;
  min-height: 0;
}

.recipe-add-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
}

.recipe-add-container .recipe-add-form {
  flex: 1;
  min-width: 0;
  padding: 0 8px;
}

.recipe-add-container .recipe-add-form .recipe-add-field {
  width: 100%;
}

.recipe-add-container .recipe-add-form .recipe-add-field {
  width: 100%;
}

.recipe-add-container .recipe-add-button {
  cursor: pointer;
  color: #c6783c;
  font-size: 2rem;
  padding: 0 8px;
}

.recipe-page-container-outer {
  width: 100%;
}

.table-ingr-name-container {
  display: flex;
  align-items: center;
}

.table-ingr-name-container .MuiTableCell-root {
  line-height: 48px!important;
}

.click-to-edit-input {
  resize: none;
  text-align: inherit!important;
  border: 1px solid red!important;
  line-height: 1.5rem;
  min-height: 1.5rem!important;
  overflow: hidden;
  min-width: inherit;
  max-width: inherit;
  width: inherit;
}

.click-to-edit-text {
  border: 1px solid blue!important;
  margin-left: 0!important;
  line-height: 1.5rem;
  min-height: 1.5rem!important;
  text-align: inherit!important;
  min-width: inherit;
  max-width: inherit;
  width: inherit;
}


@media screen and (max-width: 768px) {
  .profile-page-container {
    display: block;
  }
  .profile-container {
    margin: auto
  }
  .tab-container {
    flex-direction: column
  }
  .tab-container>div {
    order: 2
  }
  .tab-container>button {
    order:1
  }
  .recipe-container, .tab-container {
    margin-left: auto;
    margin-right: auto
  }
  .recipe-container-outer{
    padding-left: 0px
  }
  .tab-container>div button {
    flex: 1;
    max-width: 1024px
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .profile-page-container {
    display: block;
  }

  .profile-container {
    max-width: 1024px;
    margin: auto
  }
  .profile-container-inner {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #fafafa;
    position:relative;
  }
  .profile-img {
    flex: 1;
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 1rem
  }
  .profile-details {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    flex : 1;
    padding: 1rem;
    text-align: left;
    padding-left:2rem
  }
  .profile-following-container{
    justify-content: left;
  }
  .profile-following-container span {
    display:inline-block;
    margin-right: 5px
  }
  .profile-button-container {
    position: absolute;
    top:-0.5rem;
    right: 1rem
  }
  .recipe-container-outer{
    padding-left: 0px
  }
  .recipe-container, .tab-container {
    margin-left: auto;
    margin-right: auto
  }
  .tab-container>div button {
    white-space: nowrap;
    flex: 1;
    max-width: 1024px
  }
}


@media (min-width: 476px) and (max-width: 768px) {
  .recipe-details-top-container{
    display: block
  }
  .recipe-details-top-right-container {
    justify-content: left;
  }
}

@media screen and (max-width: 475px) {
  .navbar {
    padding: 0 1rem;
  }

  .recipe-page-tab-panel {
    padding: 1rem 0 5rem;
  }

  .recipe-page-tab-panel .MuiBox-root{
    padding: 0;
  }

  .menu-wide {
    display:None;
  }

  .recipe-container {
    display: block;
    padding: 0
  }
  .recipe-details-container {
    display: block;
    padding-top: 1rem;
    padding-left: 0px
  }

  .recipe-img {
    object-fit: cover;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    width: auto;
    height: 50vw;
    max-height:50vw;
    max-width: 500px;
    margin-right: 0px
  }
  .recipe-details-top-left-container {
    flex: 2;
    padding-left: 10px
  }
  .recipe-details-top-right-container {
    justify-content: left;
    display: block;
    text-align:right
  }
  .recipe-details-top-right-container .recipe-info-block{
    max-width: 768px;
    display: flex;
    align-items: center;
    text-align: center;
    float: right
  }

  .recipe-details-top-right-container .recipe-info-block .recipe-info-image{
    width: 25px;
    height: 25px
  }
  /* .recipe-info-text span {
    visibility:hidden
  } */
  .recipe-info-text span{
    font-size: 0.5rem;
    display: block

  }
  .recipe-button-container {
    flex-direction: row-reverse;
    margin: 0
  }
  .recipe-button-container button {
    flex:1;
  }
  .recipe-comment-container {
    margin: 0.5rem
  }
  .recipe-details-top-right-container .recipe-info-block {
    margin: 0;
    margin-left: auto;
  }

}
@media screen and (min-width: 475px) {
  .menu-narrow {
    display: none;
  }

}
