body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 3rem;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu{
  z-index: 2;
}

.banner-container {
  position:relative;
  height: 80vh;
}

.banner {
  background-image: url("assets/images/white-flower-with-cooking-ingredients-table.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.banner-text-container {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
}

.banner-text-container div {
  margin: auto;
}

.container {
  display: flex;
  height: 80vh;
  background-color:#ebc6a844;
}

.container-inner {
  margin: auto
}

.MuiList-root a{
  display: block
}
.profile-container {
  display: flex;
  flex-flow: row nowrap;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 20px 50px 0;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06); */
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), box-shadow .4s cubic-bezier(.25, .8, .25, 1);
  user-select: none;
  text-decoration: none;
  position: relative;
}

.profile-container .profile-img {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.25);
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

.profile-container .profile-details-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 20px;
  flex: 1 1;
  min-width: 0;
}

.profile-container .profile-details-container .profile-name {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align:left;
}

.profile-container .profile-details-container .profile-id {
  font-size: 1.3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}

.profile-container .profile-details-container .profile-following-container {
  display: flex;
  flex-flow: row nowrap;
}

.profile-container .profile-details-container .profile-following-button {
  width: 120px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 4px;
  margin: 0.1rem 0.1rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
}

.profile-container .profile-button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.profile-container .profile-button-container .profile-button {
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: white;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  border-radius: 4px;
  margin: 0.1rem 0;
  user-select: none;
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
  color: black;
  text-decoration: none;

  min-width: 120px;
}

.profile-container .profile-button-container .profile-button:hover {
  border: 1px solid rgba(219,219,219, 1);
  background-color: #fafafa;
}

/* recipe */
.recipe-container {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 0px 50px 0;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06); */
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), box-shadow .4s cubic-bezier(.25, .8, .25, 1);
  user-select: none;
  text-decoration: none;
  position: relative;
}

.recipe-container .recipe-img {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.25);
  width: 120px;
  height: 120px;
  margin-right: 5px;
}

.recipe-container .recipe-details-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 20px;
  flex: 1 1;
  min-width: 0;
}

.recipe-container .recipe-details-container .recipe-name {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align:left;
}

.recipe-container .recipe-details-container .recipe-id {
  font-size: 1.3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}

.recipe-container .recipe-details-container .recipe-following-container {
  display: flex;
  flex-flow: row nowrap;
}

.recipe-container .recipe-details-container .recipe-following-button {
  width: 120px;
  border: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 4px;
  margin: 0.1rem 0.1rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
}

.recipe-container .recipe-button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.recipe-container .recipe-button-container .recipe-button {
  border: 1px solid rgba(219, 219, 219, 1);
  background-color: white;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px 15px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  border-radius: 4px;
  margin: 0.1rem 0;
  user-select: none;
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
  color: black;
  text-decoration: none;

  min-width: 120px;
}

.recipe-container .recipe-button-container .recipe-button:hover {
  border: 1px solid rgba(219,219,219, 1);
  background-color: #fafafa;
}

@media screen and (max-width: 475px) {
  .menu-wide {
    display:None;
  }
}
@media screen and (min-width: 476px) {
  .menu-narrow {
    display: none;
  }
}